.dashboard {
    font-family: 'Poppins';

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0 10%;

        .formContainer{
            width: 45%;
            align-self: center;
            // height: 8vh;
            
            form {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;

                input {
                    margin: 1%;
                    padding: 3%;
                    width: 50%;
                }
                button {
                    width: 15%;
                    align-self: center;
                    padding: .3%;
                    border-radius: 15px;
                    margin-top: 5%;
                    cursor: pointer;
                    outline: none;
                }
                h2 {
                    margin-bottom: 3%;
                }
            }
        }
        .songContainer {
            width: 45%;
            height: 80vh;
            overflow-y: scroll;
            margin: 3% 0;
            border: 2px solid black;

            .dashCard {
                display: flex;
                align-items: center;
                border-bottom: 1px solid black;

                .albumArt {
                    width: 50px;
                    height: 50px;
                    background-color: grey;
                }
                .songInfo {
                    flex-grow: 1;
                    padding-left: 5%;

                    h4 {
                    
                    }
                    h5 {
                        font-size: .8rem;
                        color: grey;
                    }
                }
            }
        }
    }
}