.dashboard {
    font-family: 'Poppins';

    .modal.hide {
        display: none;
    }

    .modal {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.507);
        display: flex;
        justify-content: center;
        align-items: center;


        form {
            background-color: white;
            width: 50%;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            border-radius: 15px;
            position: relative;

            .closeModal {
                color: rgb(160, 1, 1);
                font-size: 2rem;
                position: absolute;
                right: 3%;
                top: 3%;
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }

            h2 {
                margin: 3%;
            }

            input {
                margin: 1%;
                padding: 3%;
                width: 50%;
            }
            button {
                width: 15%;
                align-self: center;
                padding: .3%;
                border-radius: 15px;
                margin: 5% 0;
                cursor: pointer;
                outline: none;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0 10%;

        .formContainer{
            width: 45%;
            align-self: center;
            // height: 8vh;
            
            form {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;

                input {
                    margin: 1%;
                    padding: 3%;
                    width: 50%;
                }
                button {
                    width: 20%;
                    align-self: center;
                    padding: .9%;
                    border-radius: 15px;
                    margin-top: 5%;
                    cursor: pointer;
                    outline: none;
                    background-color: #19E68C;
                    border: none;
                    color: rgb(63, 62, 62);

                    &:hover {
                        background-color: rgb(29, 209, 131);
                    }
                }
                h2 {
                    margin-bottom: 3%;
                }
            }
        }
        .songContainer {
            width: 45%;
            height: 80vh;
            overflow-y: scroll;
            margin: 3% 0;
            border: 2px solid black;

            .spinnerContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .dashCard {
                display: flex;
                align-items: center;
                border-bottom: 1px solid black;

                .albumArt {
                    width: 50px;
                    height: 50px;
                    background: linear-gradient(hsl(0, 0%, 9%), #706f6f);
                }
                .songInfo {
                    flex-grow: 1;
                    padding-left: 5%;

                    h4 {
                    
                    }
                    h5 {
                        font-size: .8rem;
                        color: grey;
                    }
                }
                .iconContainer {
                    margin-right: 3%;

                    .fa-times-circle {
                        color: rgb(160, 1, 1);
                        cursor: pointer;

                        &:hover {
                            color: red;
                        }
                    }
                }
                .editIconContainer {
                    margin-right: 1%;
                    cursor: pointer;

                    &:hover {
                        color: #19E68C;
                    }
                }
            }
        }
        
    }
}