.search {
  text-align: center;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 13%;

  label {
    input {
      margin: 1%;
      padding: 1%;
      width: 20%;
    }
  }
  h1 {
    display: flex;
    justify-content: center;
    .searchIco {
      font-size: 1.2rem;
      align-self: center;
      margin-left: 5px;
    }
  }
  button {
    width: 8%;
    align-self: center;
    padding: 0.3%;
    border-radius: 15px;
    margin: 1% 0 2%;
    cursor: pointer;
    outline: none;
    background-color: #19e68c;
    border: none;
    color: rgb(63, 62, 62);

    &:hover {
      background-color: rgb(29, 209, 131);
    }

    &:disabled {
      cursor: default;
    }
  }
  .ctaAct {
    margin-top: 2%;
  }
  pre {
    overflow-x: scroll;
    position: absolute;
    bottom: 1px;
    padding: 2%;
  }

  select {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 8px),
      calc(100% - 15px) calc(1em + 8px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 2.5em;
    background-repeat: no-repeat;
  }

  select:focus {
    background-image: linear-gradient(45deg, gray 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, gray 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 25px, calc(100% - 20px) 25px,
      calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 2.5em;
    background-repeat: no-repeat;
    outline: 0;
  }
}

.searchButton {
  color: black;
  background-color: whitesmoke;
  width: 10%;
  height: 2rem;
  margin: auto;
}
