.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #19E68C;
    font-family: Arial, Helvetica, sans-serif;
   
    a:link {
        color:black;
        text-decoration:none;}
      a:visited {
        color:black;
        text-decoration:none;}
      a:hover {
        text-decoration:underline;
      }
}